In [1]:
import pandas as pd

In [2]:
diabetes = pd.read_excel('dados/diabetes.xlsx')

In [3]:
diabetes

,pressao arterial,concentraÃ§ao de glicose,insulina,tipo sanguineo,idade,imc,diabetico
0,72.0,148.0,NaN,A,50,33.6,S
1,66.0,85.0,NaN,O,31,26.6,N
2,64.0,183.0,NaN,A,32,23.3,S
3,66.0,89.0,94.0,A,21,28.1,N
4,40.0,137.0,168.0,O,33,43.1,S
...,...,...,...,...,...,...,...
763,76.0,101.0,180.0,A,63,32.9,N
764,70.0,122.0,NaN,A,27,36.8,N
765,72.0,121.0,112.0,O,30,26.2,N
766,60.0,126.0,NaN,NaN,47,30.1,S
767,70.0,93.0,NaN,A,23,30.4,N

In [5]:
diabetes.isna().sum()

pressao arterial             35
concentraÃ§ao de glicose      5
insulina                    374
tipo sanguineo               45
idade                         0
imc                          11
diabetico                     0
dtype: int64

In [6]:
diabetes.dropna(axis='index', subset=['concentraÃ§ao de glicose', 'imc'], inplace=True)

In [7]:
diabetes.info()

<class 'pandas.core.frame.DataFrame'>
Index: 752 entries, 0 to 767
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   pressao arterial          724 non-null    float64
 1   concentraÃ§ao de glicose  752 non-null    float64
 2   insulina                  392 non-null    float64
 3   tipo sanguineo            709 non-null    object
 4   idade                     752 non-null    int64
 5   imc                       752 non-null    float64
 6   diabetico                 752 non-null    object
dtypes: float64(4), int64(1), object(2)
memory usage: 47.0+ KB

In [33]:
diabetes['leu_insulina'] = ~diabetes['insulina'].isna()
diabetes

KeyError: 'insulina'

In [ ]:
diabetes.drop(columns=['insulina'],inplace=True)

In [ ]:
diabetes

,pressao arterial,concentraÃ§ao de glicose,tipo sanguineo,idade,imc,diabetico,leu_insulina
0,72.0,148.0,A,50,33.6,S,False
1,66.0,85.0,O,31,26.6,N,False
2,64.0,183.0,A,32,23.3,S,False
3,66.0,89.0,A,21,28.1,N,True
4,40.0,137.0,O,33,43.1,S,True
...,...,...,...,...,...,...,...
763,76.0,101.0,A,63,32.9,N,True
764,70.0,122.0,A,27,36.8,N,False
765,72.0,121.0,O,30,26.2,N,True
766,60.0,126.0,NaN,47,30.1,S,False
767,70.0,93.0,A,23,30.4,N,False

In [34]:
diabetes.isna().sum()

pressao arterial            28
concentraÃ§ao de glicose     0
tipo sanguineo              43
idade                        0
imc                          0
diabetico                    0
leu_insulina                 0
dtype: int64

In [35]:
diabetes.fillna({'pressao arterial':72.4 , 'tipo sanguineo':'A'}, inplace=True)